POSTGRES_USER=covid_epidemics_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=covid_epidemics
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=placeholder
AIRFLOW__WEBSERVER__SECRET_KEY=placeholder
WHO_DATA_URL=https://covid19.who.int/WHO-COVID-19-global-data.csv
ML_MODEL_PATH=./ml/models/
