requests
pandas
numpy
psycopg2-binary
SQLAlchemy>=1.4.28,<2.0
dbt-core==1.7.4
dbt-postgres==1.7.4
scikit-learn
prophet
xgboost
streamlit
plotly
folium
streamlit-folium
fastapi
uvicorn
pydantic
python-dotenv
pytest
pytest-cov
geopandas
shapely
cryptography
protobuf==4.24.4
grpcio-status==1.48.2
scipy
networkx
matplotlib